<section>
    <div class="banner">
        <img src="app/images/about_mini.jpg" alt="">
    </div>
    <div class="spacer"></div>
    <div class="product-section">
         <div><h1>The Place for Shopping</h1></div>
         <div class="product">
             <div class="feature">
                 <img src="app/images/crowd.jpg" alt="">
             </div>
             <h3> 10 Corer</h3>
             <small>Happy Customers</small>
         </div>
         <div class="product">
            <div class="feature">
                <img src="app/images/bag.svg" alt="">
            </div>
            <h3> 100000 + </h3>
            <small>Products Available</small>
        </div>
        <div class="product">
            <div class="feature">
                <img src="app/images/payment.png" alt="">
            </div>
            <h3> Easy Pay</h3>
            <small>Fast and Easy Payment</small>
        </div>
        <div class="product">
            <div class="feature">
                <img src="app/images/delivery.jpg" alt="">
            </div>
            <h3>Delivery</h3>
            <small>Delivery is presize in time</small>
        </div>
    </div>
</section>